
html, body {
    height: 100%;
}

body{
    background:white;
    font:14px Arial;
}
.karkas{
    width: 1200px;
    margin: 0 auto;
    position: relative;
   }
header{
    border-top: blue solid 1px;
    border-right: blue solid 1px;
    border-left: blue solid 1px;
    padding: 50px;
    background: beige;
}
h1 {
    margin: 0 550px;
}
h1 a{
    text-decoration: none;
}
h1 a:hover{
    text-decoration: underline;
}
.content{
    overflow: hidden;

}
nav{
    border: blue solid 1px;
    background: white;
    width: 300px;

    float: left;
    padding-bottom: 32000px;
    margin-bottom: -32000px;


}
nav ul{
    list-style: none;
}

nav ul li{
    padding: 16px 40px;
}

nav ul li a{
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
}
.right-bar{
    border: blue solid 1px;
    border-left: none;
    background: white;
    width: 897px;

    float: right;
    padding-bottom: 32000px;
    margin-bottom: -32000px;

}
.right-bar p{
    padding:5px 10px;
}

.right-bar h4{
    margin: 10px 300px;
}

footer {
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background: beige;
    border: blue solid 1px;
}
footer p{
    margin: 0 500px;
}

.mod{
    padding-left: 20px;
}
.product{
    float: left;
    margin-right: 20px;
}

.nov{
    clear: both;
}
a.knopka{
    border: 2px solid green;
    color: white;
    background: green;
    padding: 7px 26px;
    display: inline-block;
    border-radius: 20px;
    text-decoration: none;
    margin-bottom: 40px;
}
.cena{
    text-decoration: underline;
    font-weight: 600 ;
}

table{
    border: 1px solid green;
    width: 100%;
    padding: 10px;

}
.z_name img{
    float:left; margin:0 10px 0 0;
}
.z_name a{
    font:12px; color:#2b8aba;
}
.z_name a:hover{
    text-decoration:none;
}
.z_kol, .z_price, .z_del{
    text-align:center;
}
.z_kol{
    width:75px;
}
.z_price{
    width:80px;
}
.z_del{
    width:65px;
}


.zakaz-table td{
    padding:5px;
}

